/*USE FOR GRID */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.s1 {
  width: 8.33333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s2 {
  width: 16.66667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s4 {
  width: 33.33333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s5 {
  width: 41.66667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s7 {
  width: 58.33333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s8 {
  width: 66.66667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s10 {
  width: 83.33333%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s11 {
  width: 91.66667%;
  margin-left: auto;
  left: auto;
  right: auto; }

.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #424242; }

a {
  text-decoration: none; }

span {
  font-family: 'Roboto Mono', monospace;
  color: #5f6368; }

.text, .images, .info {
  border-top: 3px solid #4285f4;
  margin-top: 42px;
  padding-top: 42px;
  padding-bottom: 42px; }

.text__header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.float-right {
  float: right !important; }

.container {
  width: 85%;
  margin: 0 auto; }

.align-center {
  text-align: center; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.col {
  float: left;
  padding: 0 1.25rem;
  min-height: 1px; }

img {
  max-width: 100%; }

header {
  margin-top: 45px;
  margin-bottom: 14px; }

nav ul {
  list-style-type: none; }
  nav ul li {
    display: inline-block;
    width: 84px; }
    nav ul li a {
      color: #414549;
      font-weight: 700; }

.banner img {
  margin-top: 135px;
  margin-bottom: 45px; }

.banner .row {
  margin-bottom: 90px; }

.banner__item h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 23px;
  margin-bottom: 23px; }
.banner__item p {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #424242;
  margin-bottom: 23px; }

.text {
  margin-bottom: 135px; }
  .text p:first-child {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: #414549; }
  .text__header {
    padding-bottom: 0; }
    .text__header h2 {
      font-weight: 500; }
  .text__item {
    padding: 21px 0; }
  .text__item a {
    line-height: 36px;
    font-size: 14px; }
  .text__item span {
    font-size: 16px;
    font-weight: normal;
    line-height: 14px; }
  .text__item h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #424242;
    margin-top: 7px;
    margin-bottom: 10px; }
  .text__item p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #414549; }

.box-send {
  background: #f2f2f3;
  padding: 28px 0; }

.images div:last-child.author {
  margin-top: 26px; }

.images .author {
  overflow: auto; }
  .images .author img:last-child {
    border-radius: 50%; }
  .images .author .col {
    padding: 0; }

.images {
  padding: 35px 0; }
  .images__item {
    padding: 21px 0; }
  .images__item h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #424242; }
  .images__item p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #424242;
    margin-bottom: 23px;
    margin-top: 11.5px; }

.info__item p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px; }
.info__item h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  margin-top: 23px;
  margin-bottom: 23px; }
.info__item ul {
  list-style-type: none; }
  .info__item ul .col {
    padding: 0; }
.info__item a {
  color: #414549; }
  .info__item a:hover {
    text-decoration: underline; }

footer {
  border-top: 3px solid #efefef;
  margin-top: 42px;
  padding-top: 42px;
  padding-bottom: 42px; }
  footer a {
    color: #414549; }
    footer a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
